@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/EstiloPag.css" />
    <title>Index</title>
</head>
<body>
    <div>
        <br /> 
        <br /> 
        <br /> 
        <br />
    
       <b>@ViewBag.Greting Amigo!!!!</b>
       <p>Vamos a tener una fiesta increble<br />
       </p>
        @Html.ActionLink("RSV ahora", "RsvpForm")
    </div>
</body>
</html>
